@model Usuario

<div class="container">
    <div class="page-header-isco">
        <h2>@Html.T("titleEdit") <small>@Html.T("Usuario") </small></h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.CD_USUARIO)
        @Html.HiddenFor(MODEL => Model.SENHA)
        @Html.HiddenFor(MODEL => Model.LOGIN)
        @Html.HiddenFor(MODEL => Model.EMAIL)

        @Html.Partial("_Validation", ViewData.ModelState)
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="btn-group">
                    <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-angle-double-left"></i>&nbsp;@Html.T("voltarlistagem")</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.NOME)
                            @Html.TextBoxFor(model => model.NOME, new { @class = "form-control" })
                        </div>
                         <div class="col-md-4">
                            @Html.LabelFor(model => model.EMAIL)
                            @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.EMAIL)

                        </div>
                       
                    </div>
                  
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CD_GUSUARIO)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("CD_GUSUARIO")
                                                  .DataTextField("NOME")
                                                  .DataValueField("CD_GUSUARIO")
                                                   .HtmlAttributes(new { style = "width:100%" })
                                                  .DataSource(source => { 
                                                      source.Read(read => 
                                                            { 
                                                                read.Action("GetGUsuario", "Usuario"); 
                                                            
                                                            }); 
                                                  
                                                  })
                                            )
                            @Html.ValidationMessageFor(model => model.CD_GUSUARIO)
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CD_NL)
                            @Html.TextBoxFor(model => model.CD_NL, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.APROVA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("APROVA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .HtmlAttributes(new { style = "width:100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )
                            @Html.ValidationMessageFor(model => model.APROVA)
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.REPROVA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("REPROVA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .HtmlAttributes(new { style = "width:100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )
                            @Html.ValidationMessageFor(model => model.REPROVA)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CANCELA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("CANCELA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .HtmlAttributes(new { style = "width:100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )
                            @Html.ValidationMessageFor(model => model.CANCELA)

                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.SITUACAO)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("SITUACAO")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .HtmlAttributes(new { style = "width:100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboAtivo", "Usuario");
                                                             });
                                                      })
                                            )
                            @Html.ValidationMessageFor(model => model.SITUACAO)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ALT_SENHA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("ALT_SENHA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .HtmlAttributes(new { style = "width:100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )
                            @Html.ValidationMessageFor(model => model.CANCELA)

                        </div>
                    </div>



                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;@Html.T("btbsalvar").ToString()</button>
                </div>
            </div>

        </div>
         
    }
</div>




