@model DepartamentoUsuario

<div class="container">
    <div class="page-header-isco">
        <h2>@Html.T("titlecreate") <small>@Html.T("DepartamentoUsuario") </small></h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.Partial("_Validation", ViewData.ModelState)
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="btn-group">
                    <a class="btn btn-default" href="@Url.Action("Index", new { cd_departamento = Request["cd_departamento"] })"><i class="fa fa-angle-double-left"></i>&nbsp;@Html.T("voltarlistagem")</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CD_USUARIO)
                            <br />
                            @(Html.Kendo().ComboBox()
                                .Name("CD_USUARIO")
                                .DataTextField("NOME")
                                .HtmlAttributes(new { style = "width: 100%" })
                                .DataValueField("CD_USUARIO")
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("ReadUsuario", "DepartamentoUsuario", new { cd_departamento = Request["cd_departamento"] });
                                });
                            }))

                            @Html.ValidationMessageFor(model => model.CD_USUARIO)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;@Html.T("btbsalvar").ToString()</button>
                </div>
            </div>
        </div>
         
    }
</div>







