 @model DepartamentoUsuario

@{
     ViewBag.Title = @Html.T("titleDelete").ToString();
    
     Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@{
       
    var options = new AjaxOptions()
                      {
                          Url = Url.Action("Delete", "DepartamentoUsuario"),

                          OnBegin = "Iniciando",
                          OnSuccess = "Sucesso ('Index', 'Procedimento/DepartamentoUsuario') ",
                          OnFailure = "Erro",
                          HttpMethod = "Post"
                      };  
}

<div class="container">
    <p><span class="label label">@Html.T("DepartamentoUsuario")</span></p>

    <div class="controls">
        <div class="container" style="width: 100%">
            <div class="pull-left">
                <h3>@Html.T("ConfirmarDeletarRegistro")</h3>
                <p>
                    @using (Ajax.BeginForm("Delete", null, options, new { onsubmit = "return false;" }))
                    {
                        <input type="submit" value=" @Html.T("btbDelete").ToString() "class="btn btn-danger" />
                        <a class="btn " href="@Url.Action("Index", "DepartamentoUsuario")"><i class="fa fa-caret-left"></i>@Html.T("VoltarListagem")</a>
                    }
                </p>
            </div>
        </div>
        
		
		<div class="container" style="width: 100%">
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">@Html.T("Geral")</a></li>
                    <li><a href="#tab2" data-toggle="tab"></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="controls">
								
									<div class="display-label">
										  <span class="display-label-text">@Html.DisplayNameFor(model => model.CD_DEPARTAMENTO)</span>
									</div>
									<div class="display-field">
										<span class="form-control uneditable-input">@Model.CD_DEPARTAMENTO</span>
									</div>
								
									<div class="display-label">
										  <span class="display-label-text">@Html.DisplayNameFor(model => model.CD_USUARIO)</span>
									</div>
									<div class="display-field">
										<span class="form-control uneditable-input">@Model.CD_USUARIO</span>
									</div>
								  						
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="controls">
                            <div class="display-label">
                            </div>
                            <div class="display-field">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





