@model IEnumerable<eNota>

<table class="table table-hover" >
    <tr>
          <th>
            @Html.DisplayNameFor(model => model.NR_NOTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_EMISSAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.RAZAO)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.CD_TRANSPORTADOR)
        </th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
             <td>
                <a href="#" onclick="SelecionaNF('@item.NR_NOTA','@item.DT_EMISSAO','@item.CD_TRANSPORTADOR');">@item.NR_NOTA</a>
            </td>
            <td>
                <a href="#" onclick="SelecionaNF('@item.NR_NOTA','@item.DT_EMISSAO','@item.CD_TRANSPORTADOR');">@item.DT_EMISSAO</a>
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Clientes.RAZAO)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.CD_TRANSPORTADOR)
            </td>
           
        </tr>
    }
</table>
