@model IEnumerable<tp_procedimento>

<table class="table table-hover" >
    <tr>
          <th>
            @Html.DisplayNameFor(model => model.CD_TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DES_TIPO)
        </th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
             <td>
                <a href="#" onclick="SelecionaTipo('@item.CD_TIPO','@item.DES_TIPO');">@item.CD_TIPO</a>
            </td>
            <td>
                <a href="#" onclick="SelecionaTipo('@item.CD_TIPO','@item.DES_TIPO');">@item.DES_TIPO</a>
            </td>
           
        </tr>
    }
</table>
