@model IEnumerable<wProcedimento>

@{ int count = Model == null ? 0 : Model.Count(); }


<div class="container_none">
    <div class="page-header-isco">
        <h2>@Html.T("ProcedimentoAdm") <small> Listagem Geral</small></h2>
    </div>
    <div class="panel panel-success">
              <div class="panel-heading">
            <div class="btn-group">
                <a class="btn btn-default" href="@Url.Action("ListagemGeral")"><i class="fa fa-refresh"></i>&nbsp;Nova Pesquisa</a>
            </div>
        </div>

        <div class="panel-body">
            @(Html.Kendo().Grid(Model)
            .Name("Grid")
             .Columns(columns =>
    {
        columns.Bound(p => p.CD_PROCEDIMENTO).Visible(true).ClientTemplate("#= productDetails(data) #").Title(">").Width(30);
        columns.Bound(p => p.CD_PROCEDIMENTO).Visible(true).Width(60);
        columns.Bound(p => p.CD_REGIONAL).Title("Regional");
        columns.Bound(p => p.tp_procedimento.DES_TIPO).Width(100);
        columns.Bound(p => p.tp_procedimento.TEMPO_PADRAO).Width(40).Title("Tempo");

        columns.Bound(p => p.DTA_ABERTURA).Format("{0:dd/MM/yyyy HH:mm:ss}").Width(160);
        columns.Bound(p => p.DTA_FECHAMENTO).Format("{0:dd/MM/yyyy HH:mm:ss}").Width(160);
        columns.Bound(p => p.DEPARTAMENTO.DESC_DEPARTAMENTO).Width(80);
        columns.Bound(p => p.DEPARTAMENTO.TEMPO_PADRAO).Title("Tempo").Width(40);
        columns.Bound(p => p.HORASCORRIDAS).Width(70).Title("Horas Corridas");
        columns.Bound(p => p.HORASUTEIS).Width(70).Title("Horas Úteis");
        columns.Bound(p => p.PERCENTUAL).Visible(true).ClientTemplate("#= productDetailsImg(data) #").Title("PD").Width(20);
        columns.Bound(p => p.PERCENTUALPROCEDIMENTO).Visible(true).ClientTemplate("#= productDetailsImg2(data) #").Title("PP").Width(20);
        columns.Bound(p => p.VL_REPRESENTANTE).Visible(true).Title("Valor Representante").Width(50);
        columns.Bound(p => p.COD_REPRESENTANTE).Visible(true).Title("Representante").Width(50);



    })

        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable(pageable => pageable
        .PageSizes(true)
        .ButtonCount(21)
        .Messages(d => d.Display("{0} - {1} de {2} Registros"))
        .Messages(d => d.ItemsPerPage("Itens por Página"))
                     
        )
        //.Pageable().Messages(m => m.Display("{0} - {1} of {2} Registros"));
        .Sortable()
        .Groupable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)

            .PageSize(21)
          //  .Read(read => read.Action("ReadWProcessos", "Relatorios"))
        )

        )

        </div>
    </div>
</div>


<script>
    function productDetailsImg3(product) {

        return product.CD_REGIONAL;

    }

    function productDetailsImg(product) {
        //var html = "<img src='../../Images/Logo.png' />";
        //return html;

        var html = "<img src='../../Images/SetaAcima.png' />";


        if (product.PERCENTUAL <= 0) {
            html = "<img src='../../Images/SetaAcima.png' />";
        } else
            if (product.PERCENTUAL > 0 && product.PERCENTUAL < 80) {
                html = "<img src='../../Images/SetaAcima.png' />";
            } else
                if (product.PERCENTUAL > 80 && product.PERCENTUAL < 100) {
                    html = "<img src='../../Images/SetaDireita.png' />";
                } else
                    html = "<img src='../../Images/SetaBaixo.png' />";


        return html;

    }
</script>


<script>

    productDetailsImg2
    function productDetailsImg2(product) {
        //var html = "<img src='../../Images/Logo.png' />";
        //return html;

        var html = "<img src='../../Images/SetaAcima.png' />";


        if (product.PERCENTUALPROCEDIMENTO <= 0) {
            html = "<img src='../../Images/SetaAcima.png' />";
        } else
            if (product.PERCENTUALPROCEDIMENTO > 0 && product.PERCENTUALPROCEDIMENTO < 80) {
                html = "<img src='../../Images/SetaAcima.png' />";
            } else
                if (product.PERCENTUALPROCEDIMENTO > 80 && product.PERCENTUALPROCEDIMENTO < 100) {
                    html = "<img src='../../Images/SetaDireita.png' />";
                } else
                    html = "<img src='../../Images/SetaBaixo.png' />";


        return html;

    }
    function productDetails(product) {
        var actionDetail = '@Url.Action("Details", "ProcedimentoAdm")';
        var actionEdit = '@Url.Action("Edit", "ProcedimentoAdm")';
        var actionDelete = '@Url.Action("Delete", "ProcedimentoAdm")';

        var html = kendo.format("<a class='btn btn-info' TITLE='@Html.T("lnkDetails")' href='{0}/{1}'> Detalhar</a>     ",
        actionDetail, product.CD_PROCEDIMENTO);
        return html;
    }
</script>
<script type="text/javascript">

    function collapseGroupRows() {

        var grid = $("#Grid").data("kendoGrid");
        grid.collapseGroup(grid.tbody.find(">tr.k-grouping-row"));
        $('tr[role*="row"]').hide();
    }

</script>

<script>
    $(".k-collapse").click();
    function dataBound() {

        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>

