@model Permissoes

<div class="container">
    <div class="page-header-isco">
        <h2>@Html.T("titlecreate") <small>@Html.T("Permissoes") </small></h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.Partial("_Validation", ViewData.ModelState)
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="btn-group">
                    <a class="btn btn-default" href="@Url.Action("Permissao", "GUsuario", new { cd_grupo = Request["cd_grupo"]})"><i class="fa fa-angle-double-left"></i>&nbsp;@Html.T("voltarlistagem")</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-4">

                            @Html.LabelFor(model => model.MODULO)
                            <br />

                            @(Html.Kendo().ComboBox()
                                                .Name("MODULO")
                                                 .DataTextField("DESC_MODULO")
                                            .DataValueField("DESC_MODULO")

                                                .HtmlAttributes(new { style = "width: 100%" })
                                               .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("ReadModulo", "Gusuario", new { cd_grupo = Request["cd_grupo"] });
                                                });
                                            })
                                                .Template("<p> <b>${ data.DESC_MODULO } </b> </p>  ${ data.TEXTO }  "))

                            @Html.ValidationMessageFor(model => model.MODULO)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ACESSA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("ACESSA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .SelectedIndex(1)
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )


                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.DETALHA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("DETALHA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .SelectedIndex(1)
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.EDITA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("EDITA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .SelectedIndex(1)
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.DELETA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("DELETA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .SelectedIndex(1)
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CRIA)
                            <br />
                            @(Html.Kendo().DropDownList()
                                                  .Name("CRIA")
                                                  .DataTextField("TEXT")
                                                  .DataValueField("VALUE")
                                                  .SelectedIndex(1)
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                             {
                                                                 read.Action("ReadComboSimouNao", "Usuario");
                                                             });
                                                      })
                                            )
                        </div>
                    </div>


                </div>
            </div>
             <div class="panel-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;@Html.T("btbsalvar").ToString()</button>
                </div>
            </div>
        </div>
         
    }
</div>

