@model Usuario

<div id="container">
    <div class="page-header-isco">
        <h2>@Html.T("titleedit") <small>@Html.T("ItemLocalizacao") </small></h2>
    </div>

    @using (Html.BeginForm("ChangePassword", "Protected", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.CD_USUARIO)
        @Html.HiddenFor(MODEL => Model.LOGIN)
        @Html.HiddenFor(MODEL => Model.EMAIL)
        @Html.HiddenFor(MODEL => Model.ALT_SENHA)
        @Html.HiddenFor(MODEL => Model.APROVA)
        @Html.HiddenFor(MODEL => Model.CANCELA)
        @Html.HiddenFor(MODEL => Model.CD_GUSUARIO)
        @Html.HiddenFor(MODEL => Model.CD_NL)
        @Html.HiddenFor(MODEL => Model.CD_USUARIO)
        @Html.HiddenFor(MODEL => Model.EMAIL)
        @Html.HiddenFor(MODEL => Model.NOME)
        @Html.HiddenFor(MODEL => Model.REPROVA)
        @Html.HiddenFor(MODEL => Model.SITUACAO)
        @Html.Partial("_Validation", ViewData.ModelState)
        <div class="panel panel-success">
         
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.SENHA)
                            @Html.PasswordFor(model => model.SENHA, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SENHA)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="CNFSENHA"> Confirmar</label>
                            <input class="form-control" data-val="true" data-val-required="Campo Obrigatorio" id="CNFSENHA" name="CNFSENHA" type="password" />
                            @Html.ValidationMessage("CNFSENHA")
                        </div>
                    </div>



                </div>
            </div>
             <div class="panel-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;@Html.T("btbsalvar").ToString()</button>
                </div>
            </div>
        </div>
    }
</div>





