@model Situacao


<div class="container">
    <div class="page-header-isco">
        <h2>@Html.T("titleDelete") <small>@Html.T("Situacao") </small></h2>
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="btn-group">
                    <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-angle-double-left"></i>&nbsp;@Html.T("voltarlistagem")</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.DESCRICAO)
                            @Html.TextBoxFor(model => model.DESCRICAO, new { @class = "form-control", disabled = "disabled" })

                        </div>
                    </div>



                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <input type="submit" value="@Html.T("btbdelete").ToString()" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
</div>



